<%= render partial: "form", locals: {link: @link} %>

<div id="links" class="mt-8 flex flex-col divide-y divide-gray-100">
  <%= render @links %>

  <% if @pagy.pages > 1 %>
    <div class="pt-8 mb-16 text-center">
      <%== pagy_nav @pagy %>
    </div>
  <% end %>
</div>